
[nz-form] {
    width: 550px;
    position: absolute;
    z-index: 1;
    right: 10%;
    top: 9%;
    bottom: 24px;
}

button {
  margin-left: 8px;
}

.colorSpan{
  color: #8492A6;
}

.register-from{
  opacity: 0;
  transition: opacity 2s;
}

